.bg_area div {
    position: absolute;
    text-shadow: 0 0 10px rgb(189, 189, 0), 0 0 20px rgb(189, 189, 0), 0 0 30px rgb(77, 90, 240), 0 0 40px rgb(77, 90, 240), 0 0 50px rgb(77, 90, 240), 0 0 60px rgb(77, 90, 240), 0 0 70px #e60073;
  }
  
  .bg_area div:nth-child(1) {
    top: 12%;
    left: 90%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(2) {
    top: 25%;
    left: 68%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(3) {
    top: 32%;
    left: 30%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(4) {
    top: 33%;
    left: 82%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(5) {
    top: 27%;
    left: 2%;  
    animation: animate_bg2 10s linear infinite;
  }
  .bg_area div:nth-child(6) {
    top: 4%;
    left: 10%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(7) {
    top: 12%;
    left: 90%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(8) {
    top: 17%;
    left: 80%;
    animation: animate_bg2 10s linear infinite;
  }
  .bg_area div:nth-child(9) {
    top: 20%;
    left: 12%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(10) {
    top: 22%;
    left: 5%;
    animation: animate_bg2 10s linear infinite;
  }
  .bg_area div:nth-child(11) {
    top: 32%;
    left: 10%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(12) {
    top: 35%;
    left: 37%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(13) {
    top: 25%;
    left: 17%;
    animation: animate_bg2 10s linear infinite;
  }
  .bg_area div:nth-child(14) {
    top: 5%;
    right: 5%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(15) {
    top: 10%;
    right: 1%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(15) {
    top: 5%;
    left: 4%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(15) {
    top: 5%;
    right: 100%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(16) {
    top: 5%;
    right: 1%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(17) {
    top: 5%;
    right: 1%;
    animation: animate_bg 10s linear infinite;
  }
  .bg_area div:nth-child(18) {
    top: 5%;
    right: 1%;
    animation: animate_bg 10s linear infinite;
  }
  
  @keyframes animate_bg {
    0% {
      transform: scale(0) translateX(0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: scale(1.5) translateX(-50px) rotate(120deg);
      opacity: 0;
    }
  }
  
  @keyframes animate_bg2 {
    0% {
      transform: scale(0) translateZ(0) rotate(0);
      opacity: 1;
    }
    100% {
      transform: scale(1.5) translateZ(-50px) rotate(-120deg);
      opacity: 0;
    }
  }