.torch {
  position: absolute;
  animation: vibrateLight 2.5s linear;   
  transform: translateX(-590px) translateY(-20px);
}

@keyframes vibrateLight {
  10% {
    transform: translateX(-370px) translateY(-20px); 
  }
  100% {    
    transform: translateX(-590px) translateY(-20px);
  }
}

.torch img {
  animation: shake 10s;
  animation-iteration-count: infinite;
  overflow: auto;
}

@keyframes shake {
  0% {
    transform: skewX(2deg);
  }
  10% {
    transform: skewY(3deg);
  }
  20% {
    transform: skewX(2deg);
  }
  30% {
    transform: skewY(2deg);
  }
  40% {
    transform: skewX(3deg);
  }
  50% {
    transform: skewY(2deg);
  }
  60% {
    transform: skewX(2deg);
  }
  70% {
    transform: skewY(3deg);
  }
  80% {
    transform: skewX(2deg);
  }
  90% {
    transform: skewY(3deg);
  }
  100% {
    transform: skewX(2deg);
  }
}

.torch::after {
  content: "";
  position: absolute;
  width: 60vw;
  padding: 80px; 
  background-image: linear-gradient(
    to right,
    #fbff00,
    #fbe900,
    #f8d400,
    #f3bf04,
    #ebab12
  );
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
  margin : 10px;
  border-radius: 5%;
  animation: torchlight 3s linear;
}

@keyframes torchlight {
  0% {
    width: 40vw;
  }
  10% {
    width: 50vw;
  }
  25% {
    width: 52vw;
  }
  50% {
    width: 57vw;
  }
  100% {
    width: 60vw;
  }
}
