.torch {
    position: absolute;
    animation: vibrateLight 10s linear infinite;
  }
  
  @keyframes vibrateLight {
    5% {
      transform: translateX(-500px) translateY(75px) rotate(38deg);
    }
    8% {
      transform: translateX(-720px) translateY(75px) rotate(38deg);
    }
    15% {
      transform: translateX(-720px) translateY(75px) rotate(38deg);
    }
    30% {
      transform: translateX(-720px) translateY(75px) rotate(38deg);
    }
    50% {
      transform: translateX(-715px) translateY(78px) rotate(37deg);
    }
    75% {
      transform: translateX(-700px) translateY(75px) rotate(38deg);
    }
    100% {
      transform: translateX(-715px) translateY(78px) rotate(37deg);
    }
  }
  
  .torch img {
    animation: shake 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  
  .torch::after {
    content: "";
    position: absolute;
    width: 65vw;
    padding: 83px;
    background-image: linear-gradient(
      to right top,
      #f4b37a,
      #febd6c,
      #ffca5b,
      #ffd849,
      #ffe835,
      #fbf02b,
      #f6f71f,
      #f0ff0f,
      #f2ff0d,
      #f3ff0c,
      #f5ff0a,
      #f6ff08
    );
    transform: rotate(-41deg) translateY(-430px) translateX(178px);
    border-top-left-radius: 150%;
    border-bottom-left-radius: 150%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    animation: torchlight 0.5s ease alternate;
    box-shadow: -5px 5px 10px rgb(73, 73, 73);
  }
  
  @keyframes torchlight {
    0% {
      width: 0vw;
    }
    100% {
      width: 65vw;
    }
  }